@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0px; 
}
.logos {
    text-align: right;   /*j'aligne mes logos à droite*/
    color: white;        
    margin-top: 20px;
}

main {
    padding: 30px; /*on rajoute un espace sur la gauche*/
}
body {
    background-color: #041821;  /* couleur de fond*/
    font-family: "Montserrat";     /*police du body*/
    padding: 20px;
}
h1 {
    color: #fbfcf7;
    font-family: "Yeseva";
}



h2 {
    color: #fffdfc;
    font-family: "Yeseva";    
    line-height: 10px;
}

.vert {
    color: #20c696;       /*une classe pour ne mettre qu'une partie en couleur*/
}




.lorem {
    color:#5e6c6e;
    text-align: left;     
    max-width: 600px;    /*pour que le texte soit en plusieurs lignes*/
}


ul {
    text-align: center;   /*on centre la liste*/
}
.menu ul {
    list-style-type: none;
    padding: 0;           
    display: flex;          /*pour mettre les élément en ligne*/
    color: white;
}

.menu li {
    margin-right: 20px;
    
}
.menu {
    display: flex; /* Utilise flexbox pour le layout */
    justify-content: center; /* Centre horizontalement les éléments */
    margin: 20px 0; /* Espace au-dessus et en dessous du menu */
}
.stabilo {
    background-color: #20c696;
}


footer {
    color: #5a6c70;
    text-align: center;     /*on centre le footer*/
    font-size: 10px;         /*on reduit la taille du texte*/
}
/* les changements pour les versions téléphones et tablette*/

@media (max-width: 768px) {
    .photos img {
        width: calc(50% - 20px); /* Ajuste la taille pour 2 images par ligne */
    }

    .menu li {
        margin: 0 5px; /* Réduire l'espace entre les éléments du menu */
        font-size: 1em; /* Réduire la taille du texte */
    }
    h2 {
        line-height: 18px;
    }
}